.menu {
    background-color: #D5B0AC;
    text-align: center;
    font-weight: bold;
}

.menu span {
    display: inline-block;
    height: 30px;
    width: 100px;
    line-height: 30px;
    color: #402E2A;
}

span:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #9CD08F;
}

.menu_vertical {
    width: 100px;
}

.menu_vertical span {
    border-top: 1px solid #ffffff;
    display: block;
}

p {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}